

<div class="card">
  <div class="card-body">
    <h1 style="color:cadetblue">Agregar producto</h1>
  </div>
</div>
 {{#if exitoso}}
    <h3>Producto agregado con éxito</h3>
  {{/if}}
   {{#if error}}
    <h3>Error al agregar producto</h3>
  {{/if}}

<form action="/productos" method="post">
  <div class="mb-3" style="width: 30%; margin: 10px">
    <label for="title" class="form-label">Title:</label>
    <input type="title" class="form-control" id="title" name="title">
  </div>
  <div class="mb-3" style="width: 30%; margin: 10px">
    <label for="price" class="form-label">Price:</label>
    <input type="price" class="form-control" id="price" name="price">
  </div>
   <div class="mb-3" style="width: 30%; margin: 10px">
    <label for="thumbnail" class="form-label">Thumbnail:</label>
    <input type="thumbnail" class="form-control" id="thumbnail" name="thumbnail">
  </div>
  <button type="submit" class="btn btn-primary" style="width: 30%; margin: 10px">Agregar</button>
</form>

    <button class="btn btn-secondary" style="width: 30%; margin: 10px" onclick="location.href='/productos'">Ver productos</button>