include includes/head.pug

if productos
    div(class="table-responsive" style="width: 100%; margin: 0;")
        table(class="table table-dark")
            tr(style="color: yellow;") 
             th Nombre 
             th Apellido 
             th Edad 
             each val in productos
               tr
                 td val.title 
                 td val.price
                 td: img(src=val.thumbnail alt="")
else
   h3(style="color: black") no existen datos

div(style="width: 100%;display: flex;margin: 20px")
    button(class="btn btn-secondary" style="width: 30%; margin: 0 auto; justify-content: center;align-items: center;" onclick="location.href='/'") Agregar productos

